@import url("https://use.typekit.net/kxs8zon.css");

:root {
  --max-width: 1200px;
}

body {
  margin: 0;
}

.tkAdobeCaslonPro {
  font-family: "adobe-caslon-pro", serif;
}
.tkFuturaPt {
  font-family: "futura-pt", sans-serif;
}

.checkboxWrapper {
  display: flex;
  align-items: center;
}

.checkboxWrapper label {
  margin-left: 0.5rem;
}

.checkboxWrapper input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border: 0.1em solid #333;
  outline: none;
  cursor: pointer;
}

input:focus {
  outline: 1px solid #041e42;
}

input.checked {
  background-color: #041e42;
  position: relative;
}

input.checked::before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center; /* Center text inside the container */
  margin-top: 6rem;
}

.footer p {
  margin: 0 12px;
  font-family: "futura-pt", sans-serif;
}

@media (max-width: 768px) {
  .attendeeCard {
    flex: 0 0 calc(100% - 10px);
  }
}
