.flexContainer {
  display: flex;
  flex-wrap: wrap;
}

.filters {
  flex: 1; /* Takes up 1/3 of the available space */
  padding: 20px;
  box-sizing: border-box;
  background-color: black;
}

.attendees {
  flex: 2; /* Takes up 2/3 of the available space */
  padding: 20px;
  box-sizing: border-box;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

@media (max-width: 768px) {
  /* On medium screens and below, stack the boxes on top of each other */
  .flexContainer {
    flex-direction: column;
  }

  /* Reset the flex value to 1 for both boxes to make them take full width */
  .filters,
  .attendees {
    flex: 1;
  }
}
