.main h1 {
  text-align: center;
  font-family: "adobe-caslon-pro, serif";
  font-style: italic;
  font-weight: 100;
  font-size: 4rem;
  color: #041e42;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  padding: 0 3rem;
}

.filters {
  flex: 1;
  padding: 20px;
  box-sizing: border-box;
}

.attendees {
  flex: 2;
  padding: 20px;
  box-sizing: border-box;
  margin-top: 4.5rem;
}

.attendees p {
  margin: 5px 0;
}

.footerBar {
  margin-top: 2rem;
  position: relative;
}

@media (max-width: 768px) {
  /* On medium screens and below, stack the boxes on top of each other */
  .flexContainer {
    flex-direction: column;
  }

  /* Reset the flex value to 1 for both boxes to make them take full width */
  .filters,
  .attendees {
    flex: 1;
  }
}
